

<div class="card-header d-flex justify-content-between align-items-center">
  <h1>Wunschlisten</h1>
  <%= link_to "Neue Wunschliste", new_wish_list_path %>
</div>

<ul class="list-group">
  <% @wish_lists.each do |wish_list| %>
    <%= render wish_list %>
  <% end %>
</ul>


