<p style="color: green"><%= notice %></p>

<div class="card-header">
  <h1>Wunschlisten</h1>
</div>

<ul class="list-group">
  <% @wish_lists.each do |wish_list| %>
    <%= render wish_list %>
  <% end %>
</ul>


<%= link_to "Neue Wunschliste", new_wish_list_path %>
