<h1>Editing whish list</h1>

<%= render "form", whish_list: @whish_list %>

<br>

<div>
  <%= link_to "Show this whish list", @whish_list %> |
  <%= link_to "Back to whish lists", whish_lists_path %>
</div>
