<p style="color: green"><%= notice %></p>

<h1>Whish lists</h1>

<div id="whish_lists">
  <% @whish_lists.each do |whish_list| %>
    <%= render whish_list %>
    <p>
      <%= link_to "Show this whish list", whish_list %>
    </p>
  <% end %>
</div>

<%= link_to "New whish list", new_whish_list_path %>
